body {
    background-color: #616161;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container h1{
    color: #fff;
  }
  
  .calculator {
    width: 400px;
    padding: 40px;
    background-color: #161616;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    display: block;
    width: 105%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #45a049;
  }

.resultado2{
  color: #ffffff;
}